@import url(fonts.css);
@import url(all.css);

body {
    font-family: Raleway, sans-serif;
    font-size: 16px;
}

.container {
    width: 95%;
    margin: 0 auto;
}

#header {
    text-align: center;
}

@media (min-width: 768px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }

    .faq-item {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 960px;
        margin: 0 auto;
    }

    body {
        text-align: left;
        font-size: 18px;
    }

    .faq-item {
        width: 50%;
        text-align: justify;
    }

}

h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    color: #00cc99;
    text-transform: uppercase;
    text-align: center;
}

a, a:visited {
    color: #00cc99;
}

#login {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

#login a.loginbox {
    color: white;
    background: #0c9;
    text-decoration: none;
    padding: 7px;
    border-radius: 2px;
}

#login .smaller {
    font-weight: 100;
    font-size: 0.75em;
}

#login a.loginbox i {
    padding-right: 7px;
}

#faq-header {
    width: 100%;
}

#faq {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.faq-item div {
    padding-left: 25px;
    padding-right: 25px;
}

.faq-item h3 {
    font-size: 1em;
    font-weight: normal;
}

.faq-item {
    flex-grow: 3;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

td, th {
    padding: 10px 20px;
}

thead th:nth-child(1) {
    width: 40px;
}

thead th:nth-child(3) {
    width: 80px;
}

thead th:nth-child(4) {
    width: 75px;
}

thead th:nth-child(5) {
    width: 40px;
}

tbody tr {
    border: 1px solid #00cc99;
}

thead tr {
    border: none;
}
thead th {
    font-weight: normal;
    color: rgb(178, 182, 195);
}

.dot {
    height: 12px;
    width: 12px;
    background-color: #bbb;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.stopped {
    background-color: #cc9900;
}

.error {
    background-color: #CC5033;
}

.running {
    background-color: #00cc99;
}

.working {
    background-color: #0099cc;
    animation: pulse-animation 2s infinite;
}
@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
    }
    100% {
        box-shadow: 0 0 0 6px rgba(0, 0, 0, 0);
    }
}
.container-name p {
    margin-top: 4px;
    margin-bottom: 0;
    color: rgb(178, 182, 195);
    font-weight: 100;
}

.tooltip {
    position: relative;
    display: inline-block;
    width: 100%;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 90px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 140%;
    left: 50%;
    margin-left: -45px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.instance-controls {
}

.instance-controls button {
    border: none;
    background: none;
    font-size: 1.25em;
}

button.start:not(:disabled) {
    color: #00cc99;
}

button.pause:not(:disabled) {
    color: #cc9900;
}

button.delete, a.cancel {
    color: #CC3033;
}

.confirm-delete p {
    display: inline-block;
    text-align: center;
    line-height: 1.5em;
}
.confirm-delete a {
    font-size: 2em;
}

.confirm-delete button {
    border: none;
    background: none;
    font-size: 2em;
}

.confirm-delete form {
    display: inline-block;
    vertical-align: middle;
}

div.confirm-delete {
    display: flex;
    justify-content: center;
    align-items: center;
}

button.confirm {
    color: #00cc99;
}


