@import url(fonts.css);
@import url(all.css);

body {
    font-family: Raleway, sans-serif;
    font-size: 16px;
    text-align: left;
}

:root {
    --main-color: #00cc99;
}

.container {
    width: 95%;
    margin: 0 auto;
}

#header {
    text-align: center;
    margin-bottom: 5em;
}

#header p {
    margin-top: 10px;
    font-weight: 100;
}

#header h1 {
    margin: 0;
}

#header img {
    max-width: 35px;
    max-height: 35px;
    margin-right: 10px;
}

#header > div {
    margin-top: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#featured-bg {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
    left: 0;
    top: 1em;
}



#header-featured-name {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    z-index: 3;
    max-width: 410px;
    top: 74px;
    margin-left: auto;
    margin-right: auto;
}

#scroll-down {
    font-size: 48px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 100px;
    z-index: 4;
}

#scroll-down i {
    display: none;
    color: var(--main-color);
}

#scroll-down > div {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    text-align: center;
}

#feature-bg-color {
    position: absolute;
    height: 50%;
    width: 100%;
    left: 0;
    background: #e8f7f7;
    top: 0;
    margin: 0;
    z-index: -1;
}

#header-logo {
    max-height: 48px;
    margin-right: 8px;
    margin-top: 3px;
    display: none;
}

#header-featured {
    min-height: 50vh;
}

#header-featured h1 {
    text-align: left;
    margin-top: 3px;
    margin-bottom: 0px;
    font-size: 48px;
}

#header-featured p {
    margin-top: 8px;
    min-width: 100%;
    width: 100%;
}



h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    color: var(--main-color);
    text-transform: uppercase;
    text-align: center;
}

a, a:visited {
    color: var(--main-color);
}

#login {
    text-align: center;
    margin-top: 84px;
    margin-bottom: 84px;
}

#login a.loginbox {
    color: white;
    background: var(--main-color);
    text-decoration: none;
    padding: 7px;
    border-radius: 2px;
}

#login .smaller {
    font-weight: 100;
    font-size: 0.75em;
}

#login a.loginbox i {
    padding-right: 7px;
}

#faq-header {
    width: 100%;
}

#faq {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.faq-item h3 {
    font-size: 1em;
    font-weight: normal;
}

.faq-item {
    flex-grow: 3;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

td, th {
    padding: 10px 20px;
}

thead th:nth-child(1) {
    width: 40px;
}

thead th:nth-child(3) {
    width: 80px;
}

thead th:nth-child(4) {
    width: 75px;
}

thead th:nth-child(5) {
    width: 40px;
}

tbody tr {
    border: 1px solid var(--main-color);
}

thead tr {
    border: none;
}
thead th {
    font-weight: normal;
    color: rgb(178, 182, 195);
}

.dot {
    height: 12px;
    width: 12px;
    background-color: #bbb;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.stopped {
    background-color: #cc9900;
}

.error {
    background-color: #CC5033;
}

.running {
    background-color: var(--main-color);
}

.working {
    background-color: #0099cc;
    animation: pulse-animation 2s infinite;
}
@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
    }
    100% {
        box-shadow: 0 0 0 6px rgba(0, 0, 0, 0);
    }
}
.container-name p {
    margin-top: 4px;
    margin-bottom: 0;
    color: rgb(178, 182, 195);
    font-weight: 100;
}

.tooltip {
    position: relative;
    display: inline-block;
    width: 100%;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 90px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 140%;
    left: 50%;
    margin-left: -45px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.instance-controls {
}

.instance-controls button {
    border: none;
    background: none;
    font-size: 1.25em;
}

button.start:not(:disabled) {
    color: var(--main-color);
}

button.pause:not(:disabled) {
    color: #cc9900;
}

button.delete, a.cancel {
    color: #CC3033;
}

.confirm-delete p {
    display: inline-block;
    text-align: center;
    line-height: 1.5em;
}
.confirm-delete a {
    font-size: 2em;
}

.confirm-delete button {
    border: none;
    background: none;
    font-size: 2em;
}

.confirm-delete form {
    display: inline-block;
    vertical-align: middle;
}

div.confirm-delete {
    display: flex;
    justify-content: center;
    align-items: center;
}

button.confirm {
    color: var(--main-color);
}

#create-new-playground {
    border: none;
    border-radius: 4px;
    background: var(--main-color);
    color: white;
    padding: 9px 6px 8px 10px;
}

#create-new-playground i{
    font-size: 1.25em;
    background: none;
    height: 16px;
}

#create-new-playground p {
    height: 16px;
    font-size: 1.25em;
    max-width: 0;
    margin: 0;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    vertical-align: baseline;
    transition: max-width 300ms ease-in, margin-left 300ms ease-in;
    font-family: Raleway, sans-serif;
}

#create-new-playground:hover p {
    max-width: 125px;
    margin: 0 5px;
}

#new-playground {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#new-playground select {
    padding: 5px 5px 5px 5px;
    font-size: 1em;
    border: 1px solid var(--main-color);
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
}

#top {
    min-height: 50vh;
}

#top > div:nth-child(2) {
    margin-top: 48px;
}

#samples {
    margin-bottom: 74px;
}

#samples-img-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#samples-img-container img {
    max-width: 45%;
    max-height: 45%;
}

@media (min-width: 768px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }
    .faq-item {
        max-width: 48%;
    }

    #header-logo {
        display: block;
    }

    #header-featured-name {
        justify-content: left;
    }

    #featured-bg {
        top: -4em;
    }
}

@media (min-width: 992px) {
    #header-featured {
        min-height: 100vh;
    }
    #scroll-down i {
        display: block;
    }

}

@media (min-width: 1200px) {
    .container {
        width: 960px;
        margin: 0 auto;
    }

    body {
        font-size: 18px;
    }

    .faq-item {
        text-align: justify;
    }
    #header-featured-name {
        top: 264px;
        margin: 0;
    }

}


