[submodule "projector-server"]
	path = projector-server
	url = https://github.com/JetBrains/projector-server
[submodule "skadi-community-samples"]
	path = skadi-community-samples
	url = https://github.com/coolya/skadi-community-samples.git
